{% extends '_base.html' %}
{% load static %}

{% block title %}
    All Posts
{% endblock title %}

{% block content %}

<div class="container">
    <div class="grid">
        <div class="row">
            {% for post in posts %}
                <div class="card col-12 ml-2 mb-4 p-2" style="">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }} </h5>
                        <h6 class="card-subtitle mb-2 text-muted">By {{ post.author.email }} on {{ post.created_date }}</h6>
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>

{% endblock content %}
